*{
  /* border: 0px;
  margin: 0px; */
}
/* :root {
  --primary_bg: white;
  --primary_txt: black;
  --glow_text: #ff8c00;
} */
:root {
  --primary_bg: #330033;
  --primary_txt: #CCCCCC;
  --glow_txt: #ff8c00;
}
body,body *{
  background-color: var(--primary_bg);
  /* color:var(--primary_txt); ; */
  
}

.navbar {
  box-shadow:  0 1px 8px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 50px 0px 50px;
  height: 60px;
  margin-bottom: 50px;
  font-family: 'Roboto Mono', monospace;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  /* border: var(--glow_txt) 1px solid; */
  transition: all .4s ease-out;
/* font-family: 'Roboto Slab', serif; */
}

.navbar.visible {
  /* transform: translateY(0px); */
  top: 0px;
  
  /* background-color: var(--glow_txt); */
} 

.navbar.hidden {
  top: -100px;
  /* background-color: red; */
} 

.navItem {
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  margin: 15px;
  color: var(--primary_txt);
  transition: all .3s ease-in-out;
}
.navItem #num{
  color: var(--glow_txt);
  font-weight: 400;
}

.navItem:hover {
  color: var(--glow_txt);
  /* text-shadow:0 0 10px rgba(255, 140, 0, 0.5); */
}

main{
  padding-left: 100px;
  padding-right:100px ;
  padding-top: 100px;
  background-color: #330033;
  color: #777B88;
  
}
main > *{
  /* min-height: 300px; */
  /* border: 1px var(--glow_txt) solid; */
}


.sectionIntro{
  display:flex ;
  justify-content: flex-start;
  align-items:flex-end;
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
  /* border: 1px var(--glow_txt) solid; */
}
.sectionIntro hr{
  border: var(--glow_txt) 1px solid;
  width: 50px;
  /* position: relative; */
  /* top: 6px; */
  
 
}
.sectionIntro #h1{
  padding: 0px;
  width: fit-content;
  /* margin: 5px; */
  font-size: 28px;
  font-weight: 500;
  border-bottom: 2px var(--glow_txt) solid;
  /* padding-bottom: 3px; */
  /* text-decoration: underline; */
  
}
.sectionIntro #num{
  color: var(--glow_txt);
  font-size: 23px;
  padding: 0px;
  margin-right: 10px;
   position: relative;
  top: 3px;
}

.Intro{
  /* border: var(--glow_txt) solid 1px; */
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 150px;
  background-color: var(--primary_bg);
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
.Intro *{
  margin: 0px;
  padding: 0px;
  /* border: var(--glow_txt) 1px solid; */
}
.Intro span{
  font-size: 14px;
  color: var(--primary_txt);
  display: block;
  /* margin-bottom: 15px; */
}
.Intro #begin{
  margin-bottom: 10px;
}
.Intro large{
  font-size:40px;
  font-weight: 600;
  color: var(--glow_txt);
}
.Intro bold{
  font-size:14px;
  font-weight: 600;
  color: var(--glow_txt);
}



.Intro button{
  margin-top: 150px;
  font-size: 15px;
  /* height: 80px; */
  margin-bottom: 40px;
  padding: 20px;
  border: var(--glow_txt) 1px solid;
  background-color: var(--primary_bg);
  font-family: 'Roboto Mono', monospace; 
  font-size: 13px;
  color: var(--glow_txt);
  cursor: pointer;
  transition: all .3s ease-in-out;
  
}
.Intro button:hover{
  /* box-shadow: 0 0 50px rgba(255, 140, 0, 0.5); */
}


.About{
  /* height: 400px; */
  margin-top: 150px;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 150px;
}
.About p{
  font-size: 14px;
}
.AboutContent{
  display: grid;
  grid-template-columns: 80% 20%;
}
.AboutContent ul{
  display: grid;
  grid-template-columns: 30% 30%;
  margin: 0px;
  padding: 0px;
  padding-left: 20px;
  /* border: var(--glow_txt) 1px solid; */
}
.AboutContent li{
  /* border: var(--glow_txt) 1px solid; */
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  /* width: 50%; */
  /* list-style-type: disc; */
}
.AboutContent li:before {
  content: "\2022";
  color: var(--glow_txt);
  font-weight: bolder;
  width: 20px;
  margin-right: 5px;
}

.Experience{
  margin-top: 150px;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 150px;
}
.ExperienceContent{
  
  height: 300px;
  display: grid;
  grid-template-columns: 15% 85%;

}
.experienceCompanies{
  border-left: #FFE8CC 2px solid;
  height: fit-content;
}
.expComp{
  cursor: pointer;
  position: relative;
  right: 2px;
  /* transition: .2s all ease-out; */
}
.expComp.active{
  border-left: var(--glow_txt) 2px solid;
}
.experienceCompanies,.experienceDetails{
  /* border: var(--glow_txt) 1px solid; */
  padding: 0px;
  margin: 0px;
}
.experienceCompanies{

}
.experienceCompanies li{
  list-style: none;
  padding: 0px;
  margin: 0px;
  height: fit-content;
  padding: 10px 20px 10px 20px;
  font-size: 14px;

}
.experienceDetails{
  padding-left: 15px;
  border-left: #FFE8CC 2px solid;
  border-radius: 2px;
}



.roleDetails{
  display: none;
  font-size: 13px;
}
.roleDetails.active{
  display: block;
}
.roleDetails li{
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  font-size: 14px;
}
.roleDetails .roleTitle{
  font-size: 16px;
  font-weight: 500;
}
.roleTitle a{
  text-decoration: none;
  color: var(--glow_txt);
}
.roleDetails .roleDate{
  font-size: 12px;
  font-weight: 500;
}


.Projects{
  font-family: 'Roboto Mono', monospace;
}

.ProjectsContent{
  display: grid;
  grid-template-columns: 50% 50%;
  
}

.projectParent{
  border: var(--glow_txt) 1px solid;
  height: 200px;
  margin: 10px;
}


/* Sides.css */
.SidesContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  font-family: 'Roboto Mono', monospace;
}

.leftDivWrapper,
.rightDivWrapper {
  position: fixed;
  width: 75px;
  height: 50%;
  background-color: white; 
  bottom: 0;
  z-index: -10;
  /* border: var(--glow_txt) 2px solid; */
}
.leftDivWrapper{
  left: 0;
}
.leftDivWrapper span{
  display: block;
  position: absolute;
  right: -12px;
  transition: .3s all ease-in-out;
  cursor: pointer;
  z-index: 10;
  /* color: var(--glow_txt); */
}
.leftDivWrapper span:hover{
  color: var(--glow_txt);
}
.leftDivWrapper span:nth-child(1){
  right: -12px;
  top: 0px;

}
.leftDivWrapper span:nth-child(2){
  right: -12px;
  top: 40px;

}
.leftDivWrapper span:nth-child(3){
  right: -12px;
  top: 85px;

}
.leftDivWrapper span#vl{
  border-left: 2px solid var(--glow_txt);
  height: 140px;
  right: -1px;
  bottom: 0px;

}


.rightDivWrapper{
  right: 0;
}
.rightDivWrapper span{
  display: block;
  position: absolute;
  /* left: -12px; */
  transition: .3s all ease-in-out;
  cursor: pointer;
  z-index: 10;
  /* color: var(--glow_txt); */
}
.rightDivWrapper #emailText{
  transform-origin: 0 0;
  transform: rotate(90deg);
  font-size: 11px;
  /* top: 10px; */
  left: 10px;
  font-weight: 400;
  padding: 0px;
  letter-spacing: 1px;

}
.rightDivWrapper span#vl{
  border-right: 2px solid var(--glow_txt);
  height: 80px;
  left: -1px;
  bottom: 0px;

}

.Contacts{
  margin-top: 150px;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 150px;
}
.Contacts span{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 50px 0px;
}
.Contacts button{
  outline: none;
  background-color: inherit;
  height: 60px;
  width: 120px;
  cursor: pointer;
  border: var(--glow_txt) solid 1px;
  border-radius: 3px;
}
.ContactContent p{
  text-align: center;
}



.Footer{
  margin-top: 150px;
  /* height:100px; */
  /* border: #ff8c00 2px solid; */
  text-align: center;
  font-family: 'Roboto Mono', monospace;
}
.FooterContent{
  font-size: 14px;
}

.FooterContent span{
  margin: 0px;
}